:root {
    --black: #000;
    --gray-dark: #333;
    --gray-semidark: #666;
    --gray-medium: #999;
    --gray-regular: #ccc;
    --gray-light: #e6e6e6;
    --gray-extra-light: #f5f5f5;
    --orange-extra-light: #FF9C40;
    --orange-light: #E57A17;
    --orange-regular: #B25F12;
    --orange-medium: #80440D;
    --orange-semidark: #4D2908;
    --orange-dark: #1A0E03;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html, body {
    width: 100%;
}
